name: Scrape Pelni Destinations (Python)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 */3 * *'

# Mencegah workflow berjalan bersamaan
concurrency:
  group: pelni-scraper
  cancel-in-progress: true

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          pip install seleniumbase requests beautifulsoup4 lxml
          
      - name: Install Chrome
        run: sbase install chromedriver
          
      - name: Run scraper
        run: |
          python scraper.py
          mv pelni-destinations.json pelni_ports.json
          
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "feat: Update Pelni port data"
          file_pattern: "pelni_ports.json"
          commit_user_name: Agus Ibrahim
          commit_user_email: pymobile123@gmail.com
          commit_author: Agus Ibrahim <pymobile123@gmail.com>
          pull_options: '--rebase --autostash'
